<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sos-Lost-People</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


  <link rel="stylesheet" href="../../template/dist/css/AdminLTE.min.css ">
  <link rel="stylesheet" href="../../template/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../components/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../template/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../template/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="../../template/dist/css/googleapis.css">
  <link rel="stylesheet" href="../../template/dist/css/morris.css">
  <link rel="stylesheet" href="../../components/calendar-1/zabuto_calendar.min.css">
  <link rel="stylesheet" href="../../template/dist/css/datatables.min.css"/>
  <link rel="stylesheet" href="../../template/dist/css/iCheck.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  


</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini"><b>SLP</b></span>
      <span class="logo-lg"><b>Sos-Lost-People</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      </a>
    </nav>
  </header>


   {% include "sidebar.html.twig"%}

  <div class="content-wrapper">
    <section class="content-header">

      {% include "block_stats.html.twig" %}
      {% block body %} {% endblock body %}
    </section>
  </div>

  <footer class="main-footer">
    Sos-Lost-People Copyright © 2019 Wilfried Artus All rights reserved.
  </footer> 
      
  </aside>
  
  <div class="control-sidebar-bg"></div>
</div>

<!-- ./wrapper -->

<script src="../../components/jquery/jquery.min.js"></script>
<script src="../../components/bootstrap/js/bootstrap.min.js"></script>
<script src="../../components/jqueryui/jquery-ui.min.js"></script>
<script src="../../components/jquery/jquery.slim.min.js"></script>
<script src="../../template/dist/js/fastclick.min.js"></script>
<script src="../../template/dist/js/adminlte.min.js"></script>
<script src="../../template/dist/js/raphael-min.js"></script>
<script src="../../template/dist/js/morris.min.js"></script>
<script src="../../components/calendar-1/zabuto_calendar.js"></script>
<script src="../../template/dist/js/datatables.min.js"></script>

<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  });
</script>

{% block stylesheets %} {% endblock stylesheets %}
</body>
</html>