<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sos-Lost-People</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="../../template/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../template/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../components/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../template/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../template/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="../../template/dist/css/googleapis.css">
  <link rel="stylesheet" href="../../template/dist/css/morris.css">
  <link rel="stylesheet" href="../../components/calendar-1/zabuto_calendar.min.css">
  <link rel="stylesheet" href="../../template/dist/css/datatables.min.css"/>


</head>

<body class="hold-transition login-page">



{% block content %} 
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="login-box">
            <div class="login-logo">
                <b>Sos-Lost-People</b>
            </div>
            <div class="login-box-body">
                {% block fos_user_content %}{% endblock fos_user_content %}
            </div>
        </div>

{% endblock %}


<script src="../../components/jquery/jquery.min.js"></script>
<script src="../../components/bootstrap/js/bootstrap.min.js"></script>
<script src="../../components/jqueryui/jquery-ui.min.js"></script>
<script src="../../components/jquery/jquery.slim.min.js"></script>
<script src="../../template/dist/js/fastclick.min.js"></script>
<script src="../../template/dist/js/adminlte.min.js"></script>
<script src="../../template/dist/js/raphael-min.js"></script>
<script src="../../template/dist/js/morris.min.js"></script>
<script src="../../components/calendar-1/zabuto_calendar.js"></script>
<script src="../../template/dist/js/datatables.min.js"></script>
<script src="../../template/dist/js/iCheck.js"></script>


{% block stylesheets %} {% endblock stylesheets %}

</body>
</html>