<!-- Box stats -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        {{"home.box.box_alert"|trans}}</span>
                    <span class="info-box-number">
                        {{ total_alerts }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12 offset-md-2">
            <div class="info-box">
                <span class="info-box-icon bg-green">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        {{"home.box.box_check_alert"|trans}}</span>
                    <span class="info-box-number">
                        {{ total_alerts_validated }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua">
                    <i class="fa fa-medkit" aria-hidden="true"></i> 
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        {{"home.box.box_helpers"|trans}}</span>
                    <span class="info-box-number">
                        {{ total_helpers }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        {{"home.box.box_users"|trans}}</span>
                    <span class="info-box-number">
                        {{ total_dring_users }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- End Box stats -->