<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    {% block dashboard %} {% endblock dashboard %}
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
        </div>
          <p class="guardian-co">{{app.user.lastname}} {{app.user.firstname}}</p>
      </div>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">{{"base.nav.title"|trans}}</li>
        <li>
          <a href="{{ path("homepage") }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i> <span>{{"base.nav.dashboard"|trans}}</span>
            <span class="pull-right-container">
            </span>
          </a>

        <li>
          <a href="{{ path("list_users_dring") }}">
             <i class="fa fa-users" aria-hidden="true"></i>
            <span>{{"base.nav.users_list"|trans}}</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>

        <li>
          <a href="{{ path("list_helpers") }}">
            <i class="fa fa-medkit" aria-hidden="true"></i>
            <span>{{"base.nav.helpers_list"|trans}}</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>

        <li>
          <a href="{{ path("list_guardians") }}">
            <i class="fa fa-id-badge" aria-hidden="true"></i>
            <span>{{"base.nav.guardians_list"|trans}}</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>

        <li>
          <a href="{{ path("list_alerts") }}">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span>{{"base.nav.alerts_list"|trans}}</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            <span>{{"base.nav.stats"|trans}}</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>

        <li>
          <a href="{{ path("fos_user_security_logout") }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span>{{"base.nav.logout"|trans}}</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>

        
    </section>
    <!-- /.sidebar -->
  </aside>