{% extends 'base.html.twig' %}

{% block body %}

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                {{"add_user_dring.form.title"|trans}}</h3>
        </div>
        <div class="container-fluid">
        {{ form(create_user_dring_form) }}
        </div>
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}