{% extends 'base.html.twig' %}

{% block body %}
    
    <!-- START ALERTS -->
        <div class="row"> <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-exclamation-triangle"></i>
                    <h3 class="box-title">
                        {{"home.alert_in_progress.title"|trans}}</h3>
                </div>
                {% if diff_time_alert < 300 and close_alert_date is null %}
                    <div class="box-body">
                        <div class="callout callout-danger">
                            <h4>{{"home.alert_in_progress.current_alert.status"|trans}}</h4>
                        </div>
                        <h3 class=""><u>{{"home.alert_in_progress.current_alert.user_title"|trans}}</u></h3>
                        <div class="col-md-6"><p>{{"home.alert_in_progress.current_alert.lastname"|trans}} {{ lastTenAlerts[0].getVictim.getLastName }}</p></div>
                        <div class="col-md-6"><p>{{"home.alert_in_progress.current_alert.firstname"|trans}} {{ lastTenAlerts[0].getVictim.getFirstName }}</p></div>
                        <div class="col-md-6"><p>{{"home.alert_in_progress.current_alert.date_of_birth"|trans}} {{ lastTenAlerts[0].getVictim.getDateOfBirth|date("m/d/Y") }}</p></div>
                        <div class="col-md-6"><p>{{"home.alert_in_progress.current_alert.phone"|trans}} {{ lastTenAlerts[0].getVictim.getPhone }}</p></div>
                        <div class="col-md-6"><p>{{"home.alert_in_progress.current_alert.company"|trans}} {{ lastTenAlerts[0].getVictim.getCompany }}</p></div>
                        <div class="col-md-6"><p>{{"home.alert_in_progress.current_alert.job"|trans}} {{ lastTenAlerts[0].getVictim.getJob }}</p></div>
                        <h3><u>{{"home.alert_in_progress.current_alert.alert_title"|trans}}</u></h3>
                        <div><p>{{"home.alert_in_progress.current_alert.alert_number"|trans}} {{ lastTenAlerts[0].getId }}</p></div>
                        <div><p>{{"home.alert_in_progress.current_alert.guardian"|trans}} {{ lastTenAlerts[0].getGuardian.getLastName }} {{ lastTenAlerts[0].getGuardian.getFirstName }}</p></div>
                        <div><p>{{"home.alert_in_progress.current_alert.start_alert"|trans}} {{ lastTenAlerts[0].getStartDate|date("m/d/Y H:i:s") }}</p></div>
                        <div><p>{{"home.alert_in_progress.current_alert.end_alert"|trans}} {{ lastTenAlerts[0].getCallFinishDate|date("m/d/Y H:i:s") }}</p></div>
                    </div>
                    {% else %}
                        <div class="box-body">
                            <div class="callout callout-success">
                                <h4>
                                    {{"home.alert_in_progress.no_current_alert.status"|trans}}</h4>
                            </div>
                        </div>
                {% endif %}
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <!-- END ALERTS  -->
        <!-- START ACCORDION-->
            <div class="col-md-6"> <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{"home.ten_last_alerts.title"|trans}}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div
                        class="box-group" id="accordion">
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                        {% for lastTenAlert in lastTenAlerts %}
                            {% if lastTenAlert.getCloseAlertDate is null %}
                                <div class="panel box box-danger">
                            {% else %}
                                <div class="panel box box-primary">
                            {% endif %}
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-parent="#accordion" data-toggle="collapse" href="#collapse{{loop.index}}">
                                            {{"home.ten_last_alerts.alert_time"|trans}}
                                            {{ lastTenAlert.getStartDate|date("m/d/Y") }}
                                            à
                                            {{ lastTenAlert.getStartDate|date("H:i:s") }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="collapse{{loop.index}}">
                                    <div class="box-body">
                                        <div class="col-md-7">
                                            <h4>
                                                {{"home.ten_last_alerts.alert_description.alert_title"|trans}}</h4>
                                            <div>
                                                {{"home.ten_last_alerts.alert_description.alert_number"|trans}}
                                                {{ lastTenAlert.getId }}</div>
                                            {# <div>{{"home.ten_last_alerts.alert_description.guardian"|trans}} {{ lastTenAlert.getGuardian.getLastName }}</div> #}
                                            <div>
                                                {{"home.ten_last_alerts.alert_description.start_alert"|trans}}
                                                {{ lastTenAlert.getStartDate|date("m/d/Y H:i:s") }}</div>
                                            <div>
                                                {{"home.ten_last_alerts.alert_description.end_alert"|trans}}
                                                {{ lastTenAlert.getCallFinishDate|date("m/d/Y H:i:s") }}</div>
                                        </div>
                                        <div class="col-md-5">
                                            <h4>
                                                {{"home.ten_last_alerts.alert_description.user_title"|trans}}</h4>
                                            <div>
                                                {{"home.ten_last_alerts.alert_description.lastname"|trans}}
                                                {{ lastTenAlert.getVictim.getLastName }}</div>
                                            <div>
                                                {{"home.ten_last_alerts.alert_description.firstname"|trans}}
                                                {{ lastTenAlert.getVictim.getFirstName }}</div>
                                            <div>
                                                {{"home.ten_last_alerts.alert_description.phone"|trans}}
                                                {{ lastTenAlert.getVictim.getPhone }}</div>
                                            <div>
                                                {{"home.ten_last_alerts.alert_description.date_of_birth"|trans}}
                                                {{ lastTenAlert.getVictim.getDateOfBirth|date("m/d/Y H:i:s") }}</div>
                                            <div>
                                                {{"home.ten_last_alerts.alert_description.compaign"|trans}}
                                                {{ lastTenAlert.getVictim.getCompany }}</div>
                                            <div>
                                                {{"home.ten_last_alerts.alert_description.job"|trans}}
                                                {{ lastTenAlert.getVictim.getJob }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <em>Aucune alerte déclenchée</em>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
    <!-- END ACCORDION -->
    <!-- Flo interactive shart -->
        <div class="row"> <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{"home.shart_alert.title"|trans}}</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div id="myfirstchart" style="height: 250px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-info">
                <div id="my-calendar"></div>
            </div>
        </div>
    </div>
    <!-- End Flo interactive shart -->
{% endblock %}
{% block stylesheets %}
    <script>
        //Chart
        new Morris.Line({ // ID of the element in which to draw the chart.
            element: 'myfirstchart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            
            data: [
                {% for i in 0..11 %}
                {
                    month: '{{ years[i] }}-{{ months[i] }}',
                    value: {{ table_count_alert[i] }}
                },
                {% endfor %}
            ],
            xkey: 'month',
            ykeys: ['value'],
            labels: ['Value']
        });
        //End Chart

        //Calendar
        
        var eventData = [
        {% for all_alert in all_alerts %}
        
        {"date":"{{ all_alert.getStartDate|date("Y-m-d") }}","badge":false},

        {% endfor %}
        ];
        $(document).ready(function () {
            $("#my-calendar").zabuto_calendar({
                data: eventData,
                legend: [
                    {type: "list", list: ["grade-2"]},
                    {type: "text", label: "Date d'aujourd'hui"},
                    {type: "spacer"},
                    {type: "list", list: ["grade-1"]},
                    {type: "text", label: "Jour d'alerte"}
                ],
                language: "fr",
                cell_border: true,
                today: true,
                show_days: true,
                weekstartson: 1,
                nav_icon: {
                    prev: '<i class="fa fa-chevron-circle-left"></i>',
                    next: '<i class="fa fa-chevron-circle-right"></i>'
                }
            });
        });

        //End Calendar
    </script>
{% endblock %}