{% extends 'base.html.twig' %}

{% block body %}


<div class="box">
            <div class="box-header">
              <h3 class="box-title">{{"list_users_dring.table.title"|trans}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="row"> 
            <div class="col-md-2 col-md-offset-10">
            <a type="button" href="{{ path('add_user_dring') }}" class="btn btn-block btn-warning">{{"list_users_dring.table.add_user"|trans}}</a>
            </div>
            </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">{{"list_users_dring.table.lastname"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.firstname"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.phone"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.date_of_birth"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.company"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.job"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.email"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.test_alert"|trans}}</th>
                </tr>
                </thead>
                <tbody>
                {% for user_dring in users_dring %}
                <tr>
                  <td>{{ user_dring.getLastName }}</td>
                  <td>{{ user_dring.getFirstName }}</td>
                  <td>{{ user_dring.getPhone }}</td>
                  <td>{{ user_dring.getDateOfBirth|date("m/d/Y") }}</td>
                  <td>{{ user_dring.Company }}</td>
                  <td>{{ user_dring.getJob }}</td>
                  <td>{{ user_dring.getEmail }}</td>
                  <td><a type="button" href="{{ path('create_alert', {'id' : user_dring.getId} ) }}" class="btn btn-block btn-danger">{{"list_users_dring.table.button_alert"|trans}}</a></td>
                </tr>
                {% endfor %}
                  
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">{{"list_users_dring.table.lastname"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.firstname"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.phone"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.date_of_birth"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.company"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.job"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.email"|trans}}</th>
                    <th scope="col">{{"list_users_dring.table.test_alert"|trans}}</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
      
{% endblock %}

{% block stylesheets %}
<script>
 $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    })
  });
</script>
{% endblock %}
