{% extends 'base.html.twig' %}

{% block body %}

{# {% block blockstats %} {% block endblockstats %} #}

<div class="box">
            <div class="box-header">
              <h3 class="box-title">{{"list_alerts.table.title"|trans}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">{{"list_alerts.table.alert"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.start_alert"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.end_alert"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.lastname"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.firstname"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.phone"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.guardian"|trans}}</th>
                </tr>
                </thead>
                <tbody>
                {% for alert in alerts %}
                <tr>
                  <td>{{ alert.getId }}</td>
                  <td>{{ alert.getStartDate is not null ? alert.getStartDate|date("m/d/Y H:i:s") : '' }}</td>
                  <td>{{ alert.getCloseAlertDate is not null ? alert.getCloseAlertDate|date("m/d/Y H:i:s") : '' }}</td>
                  <td>{{ alert.getVictim.getLastName }}</td>
                  <td>{{ alert.getVictim.getFirstName }}</td>
                  <td>{{ alert.getVictim.getPhone }}</td>
                  <td>{{ alert.getGuardian }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">{{"list_alerts.table.alert"|trans}}</th>
                     <th scope="col">{{"list_alerts.table.start_alert"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.end_alert"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.lastname"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.firstname"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.phone"|trans}}</th>
                    <th scope="col">{{"list_alerts.table.guardian"|trans}}</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
      
{% endblock %}

{% block stylesheets %}
<script>
 $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    })
  });
</script>
{% endblock %}
