{% extends 'base.html.twig' %}

{% block body %}

{# {% block blockstats %} {% block endblockstats %} #}

<div class="box">
            <div class="box-header">
              <h3 class="box-title">{{"list_guardians.table.title"|trans}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">{{"list_guardians.table.lastname"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.firstname"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.phone"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.date_of_birth"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.company"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.job"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.email"|trans}}</th>
                </tr>
                </thead>
                <tbody>
                {% for guardian in guardians %}
                <tr>
                  <td>{{ guardian.getLastName }}</td>
                  <td>{{ guardian.getFirstName }}</td>
                  <td>{{ guardian.getPhone }}</td>
                  <td>{{ guardian.getDateOfBirth|date("m/d/Y") }}</td>
                  <td>{{ guardian.getCompany }}</td>
                  <td>{{ guardian.getjob }}</td>
                  <td>{{ guardian.getEmail }}</td>
                </tr>
                {% endfor %}
                  
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">{{"list_guardians.table.lastname"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.firstname"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.phone"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.date_of_birth"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.company"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.job"|trans}}</th>
                    <th scope="col">{{"list_guardians.table.email"|trans}}</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
      
{% endblock %}

{% block stylesheets %}
<script>
 $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    })
  });
</script>
{% endblock %}
