{% extends 'base.html.twig' %}
{% block body %}
    {# {% block blockstats %} {% block endblockstats %} #}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                {{"list_helpers.table.title"|trans}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
        <div class="row"> 
        <div class="col-md-2 col-md-offset-10">
            <a type="button" href="{{ path('add_helper') }}" class=" btn btn-block btn-primary ">{{"list_helpers.table.add_helper"|trans}}</a> 
        </div>
        </div>
            <table class="table table-bordered table-striped" id="example1">
                <thead>
                    <tr>
                        <th scope="col">
                            {{"list_helpers.table.lastname"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.firstname"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.phone"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.date_of_birth"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.company"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.job"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.email"|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for helper in helpers %}
                        <tr>
                            <td>
                                {{ helper.getLastName }}</td>
                            <td>
                                {{ helper.getFirstName }}</td>
                            <td>
                                {{ helper.getPhone }}</td>
                            <td>
                                {{ helper.getDateOfBirth|date("m/d/Y") }}</td>
                            <td>
                                {{ helper.Company }}</td>
                            <td>
                                {{ helper.getJob }}</td>
                            <td>
                                {{ helper.getEmail }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">
                            {{"list_helpers.table.lastname"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.firstname"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.phone"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.date_of_birth"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.company"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.job"|trans}}</th>
                        <th scope="col">
                            {{"list_helpers.table.email"|trans}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <script>
        $(function () {
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
{% endblock %}