{% extends 'base_fosuser.html.twig' %}

{% block fos_user_content %}


<p class="login-box-msg">Accès à l'interface admin</p>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
      <div class="form-group has-feedback">
        <input type="email" id="username" name="_username" class="form-control" placeholder="Email" value="{{ last_username }}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="password" class="form-control" name="_password" required="required" autocomplete="current-password" placeholder="Password"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
            <a href="#">Mot de passe oublié</a><br>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat">Connexion</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
{% endblock fos_user_content %}
