@import url('https://fonts.googleapis.com/css?family=Poppins');

*
{
  box-sizing:border-box;
}

.main-footer
{
  background:#222d32 !important;
  color:#fff !important;
}

.guardian-co {
  color: white;
  text-align: center;
}

.grade-1 {
  background-color: #dd4b39;
}

.grade-2 {
  background-color: #3c8dbc;
}

.badge-today {
  background-color:#3c8dbc !important;
}

div.zabuto_calendar .table tr td.event div.day, div.zabuto_calendar ul.legend li.event {
  background-color: #dd4b39 !important;
  color: white !important;
}